{% extends 'projects/navbar.html'%}
{% load static %} 
{% block css %}
          <title>{{  project.project_name }}</title>
          <link href="{% static 'projects/css/details.css' %}" rel="stylesheet" />
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
          <link href="{% static 'projects/css/materialize.css' %}" rel="stylesheet" />
          <link href="{% static 'projects/css/bootstrap.min.css' %}" rel="stylesheet" />
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
{% endblock  %}
{% block content %}
{% if reported_comments %}
<h1>{{reported_comments}}</h1>
{% endif %}
<h2 class="head">{{ project.project_name }}</h2>


  {%if pictures%}
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="col-12">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                          {%for picture in pictures%}
                        <div class="carousel-item {%if forloop.first%} active {%endif%}">
                            <img class="d-block w-100"  src="{{  picture}}" alt="First slide" height="442" width="1042">
                        </div>
                        {%endfor%}

                    </div>
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span style="color:black;font-size:25px" aria-hidden="true">
                            <</span> </a> <a class="carousel-control-next" href="#carousel" role="button"
                                data-slide="next">
                                <span style="color:black;font-size:25px" aria-hidden="true">></span>
                    </a>
                </div>
            </div>
        </div>
        {% else%}
        <p>no picture avalible</p>
        {%endif%}
 
  <div class="projectDetails">
<div class="row">
 
 <div class="col-9">
    
        {% comment %} < c> {% endcomment %}
                   
                        <h4><span>Category :</span> {{ project.category }}</h4>
                        <h4><span>project owner :</span> {{ project.owner.first_name }} {{ project.owner.last_name }}</h4>
                        <h3><span>project target :</span>{{project.target}}</h3> 
                    
                        <p><h4><span>Details :</span> </h4>{{ project.details }}</p>
                        <h5><span>start date:</span></h5><h7>{{project.start_date}}</h7>
                        {% comment %} <h5><span>end date:</span>{{project.end_date}}</h5> {% endcomment %}
                        <h5><span>End date:</span></h5><h7>{{project.end_date}}</h7>
                    
        
        {% comment %}  report project& cancal  {% endcomment %}
        </div>
   <div class="col-3 ">
   <br>

                    <div class="actions">
                     
                           <form method="POST" action="{% url 'report_project' project.id %}">
                            {% csrf_token %}
                        
                            <button type="submit"  class="report waves-effect waves-light  yellow darken-2 btn mb-1"
                                style="width:100% ; border-radius:15px;"> Report project</button>
                        </form>
                       <br>
                       {% if amount < target%}
                        <form method="POST" action="{% url 'cancel_project' project.id %}">
                            {% csrf_token %}
                      
                            <button type="submit"  class="cancel waves-effect waves-light text-white red lighten-2 btn"
                                style="width:100% ; border-radius:15px;"> Cancel project </button>
                        </form>
                        {% endif %}
                      
                    </div>
     </div>
</div>
    
  </div>
  {% comment %} <avrage rating> {% endcomment %}
  <div class="projectDetails col-12">
  
                         {% if rates|length > 0 %}
                        <h4 class="float-left"><span>Average rating :</span> </h4>
                        <div>
                            {%for i in avgRate%}
                            <span class="star yellow-text text-darken-2">★</span>
                            {%endfor%}
                            {%for i in stars%}
                            <span class="star">☆</span>
                            {% endfor %}
                        </div>
                        {%if rates|length > 1%}
                        <p> ({{ rates|length }} users have rated this project)</p>
                        {%else%}
                        <p> (one has rated this project)</p>
                        {%endif%}
                        {%else%}
                        <h5>This project has not been rated yet</h5>
                        {%endif%}
  </div>
    
                {% comment %}  Add commint  {% endcomment %}
        <div class="projectDetails col-12">        
          <div class="row">
        <div class="col-7">

                <div>
              <div class="col-12">
              <h4><span> Do you recomend this project</span></h4>
                <ul class="rate-area">
                   <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" >5
                        stars</label>
                    <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star">4
                        stars</label>
                    <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star">3
                        stars</label>
                    <input type="radio" id="2-star" name="rating" value="2" /><label for="2-star">2
                        stars</label>
                    <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star">1
                        star</label> 
                      
                        </ul>
                </div>
            </div>
            {% comment %}  else if project rate by this user{% endcomment %}
            <div class="row">
             <div class="text-center alert-danger">
                <h4>
                    You have already rated this project
                </h4>
            </div>
            </div>
                  <div class="row">
            <form method="POST" action="">
                {% csrf_token %}
            <div class="col-12">
                <div class="form-group">
                    {{comment.as_p}}
                </div>
                <input id="comment" type="submit" class="waves-light btn btn-block indigo lighten-3" value="comment" />
            </div>
          
        </div>
            </form>
           
          {% for comment in comments %}
           <div class="projectDetails col-12">  
                <div class="card-content light-green lighten-4">
                   <p>{{comment.comment}}</p>
                </div>
                    <form method="POST" action="{% url 'delete_comment' project.id comment.id %}" style="line-height:50px; margin-left:2%">
                        {% csrf_token %}
                      
                        <button type="submit"  class="cancel waves-effect waves-light text-white red lighten-2 btn"
                             style="border-radius:15px;">Delete </button>
                    
                             
                    </form>
                    <form method="POST" action="{% url 'report_comment' project.id comment.id %}" style="line-height:50px; margin-left:2%">
                        {% csrf_token %}
                      
                      
                        <button type="submit"
                            class="report waves-effect waves-light  yellow darken-2 btn mb-1"
                           style="border-radius:15px;"> Report </button>
                    </form>
            </div>
            {% endfor %}
        
        </div>
    </div>
</div>
 <div class="projectDetails col-12">  
 <div>
                        {% comment %} {%for tag in project.tags.all %}
                        <span class="tag">#{{ tag }}</span>
                        {%endfor%}
                    </div>
                    <ul>
                    <li> {{ project.tags}}</li>
                    </ul> {% endcomment %}
        
                 

</div>
</div>











{% endblock  %}
{% block js %}
    <script src="{% static 'projects/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'projects/js/rate.js' %}"></script>
    <script src="{% static 'projects/js/materialize.js' %}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock  %}