{% extends "layout/layout1.html" %}
{% load static %}
{% load tag_library %}

{% block content %}

<!--include nav bar-->

{% include "layout/Navbar.html" %}

<div style="height:65px;"></div>
<!--for error -->

    {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="container">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Error !</strong> {{message}}.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        </div>
        {% endif %}
        {% if message.tags == 'success' %}

         <div class="container">
             <div class="alert alert-primary alert-dismissible fade show" role="alert">
              <strong>Sucess !</strong> {{message}}.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
         </div>
        {% endif %}
    {% endfor %}


<!--start secndo section kasted addd project-->
<div class="container mt-4">
    <h2 class="h1  font-weight-bold text-primary text-center">{{categieName}}</h2>
    {% if projects  %}

    <!--start projects latest-->
    <div class="row pl-4  mt-5">

        {% for project in projects %}
            <div class="col-md-4 mb-3">
                <div class="card w-100 shadow  mb-5 bg-white rounded " style="min-height:600px;max-height:600px;"  >
                    {% if project.first_Projectphoto  %}
                    <img src="{{project.first_Projectphoto.image.url}}" class="card-img-top w-100" height="200" alt="...">
                    {% else %}
                        <img src="{% static 'projects/image/001.jpg' %}" class="card-img-top w-100" height="200" alt="...">
                    {% endif %}

                   <div class="card-body pt-2 pb-0">
                    <h5 class="card-title h4 text-info">{{project.title}}</h5>
                    <h5 class="card-title text-secondary">Created By: <a href="{% url 'users:profile' project.user.id %}" class="text-light"> <sapn class="badge badge-success">{{project.user.username}}</sapn></a></h5>
                    <p class="card-text" style="min-height:100px;max-height:100px;" >
                        {{project.details|truncatechars:200}}
                         <button class="badge badge-light btn" data-toggle="modal" data-target="#model2{{forloop.counter}}">Read more</button>
                        <!-- Modal -->
                        <div class="modal fade" id="model2{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="model2{{forloop.counter}}Title" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="model2{{forloop.counter}}Title">{{project.title}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                {{project.details}}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </p>
                  </div>
                 <div class="card-body pb-0">
                    <a href="{% url 'projects:detail' project.id %}" class="card-link">Details</a>
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#dnonate{{forloop.counter}}" data-whatever="@mdo">Donate</button>
                    <!--model-->
                     <div class="modal fade" id="dnonate{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="dnonate{{forloop.counter}}Label" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="dnonate{{forloop.counter}}Label">New Donate To {{project.title}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="{% url 'projects:donate' project.id %}" method="post" id="donta">
                                {% csrf_token %}
                              <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Recipient To :</label>
                                <input type="text" class="form-control" disabled id="recipient-name" value="{{project.user.username}}">
                              </div>
                              <div class="form-group">
                                <label  class="col-form-label">Qunaty oF Many</label>
                                <input type="number"  class="form-control"  required name="quanty"  placeholder="Enter qunaty of mony">
                              </div>
                                <input type="submit" class="btn btn-primary"  value="Donate"  >
                            </form>
                          </div>
                             <div class="modal-footer">
                            <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>

                          </div>
                        </div>
                      </div>
                    </div>
                     </div>
                     <div class="more-info">
                        <div class="row no-gutters ">
                            <div class="col-md-6 border p-1 ">
                                <i class="fas fa-star mr-3"></i>
                                <span class="badge badge-warning">{{project.rating.rate__avg|default_if_none:0|to_int}}</span>
                            </div>
                            <div class="col-md-6 border p-1 ">
                                <i class="fas fa-users mr-3"></i>
                                <span class="badge badge-success">{{project.supplierCount|default_if_none:0|to_int}}</span>
                            </div>
                            <div class="col-md-6 border p-1 ">
                                <i class="fas fa-money-check-alt fa-1x mr-3"></i>
                                <span class="badge badge-success ">{{project.SupllierMoney.quanty__sum|default_if_none:0|to_int}} $</span>
                            </div>
                             <div class="col-md-6 border p-1  ">
                                <i class="fas fa-business-time mr-3"></i>
                                <span class="badge badge-success">{{project.SupllierMoney.quanty__sum|default_if_none:0|to_int|sub:project.totalTarget}} $</span>
                            </div>

                        </div>
                    </div>
                  <div class="card-footer text-muted">
                        {{project.get_date}}
                  </div>
                </div>
            </div>
        {% endfor %}
        {% else%}
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Empty!</strong> Can Make Creative Project And Add To It.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    {% endif %}
    </div>
</div>



{% endblock %}
<!--file javascript-->
{% block js %}
<script src="{% static 'projects/js/jquery.bxslider.js'%}"></script>
<script src="{% static 'projects/js/project.js'%}"></script>
{% endblock %}